.nav {
    min-width: 100vw;
    min-height: 20vh;
    background-color: #59a96a98;
    text-align: center;
    margin-top: 0vh;
    font-family: FairyDustB;
    padding-top: 5vh;
    font-size: x-large;
    color: wheat;
    padding-bottom: 2vh;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}