.body {
  background-image: url('images/Screenshot\ 2021-09-02\ at\ 18.18.51.jpeg');
  min-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.left{
  min-height: 30vh;
  max-width: 45vw;
  background-color: rgba(128, 0, 128, 0.616);
  margin-top: 1vh;
  margin-left: .5vw;
  margin-right: 1vw;
  text-align: center;
  color: white;
  padding-top: 2vh;
}
.central{
  min-width: 100vw;
  min-height: 50vh;
  
}