body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'FairyDustB';
  src: url(./fonts/FairyDustB.ttf);
}
